@import "../../index";

#info-frame {
  width: 40%;
  border: 1px solid lightgray;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 15px;

  h2 {
    height: 80px;
    margin: 0 0 20px 0;

    text-align: center;
    line-height: 80px;
    font-size: @headerFontSize;

    border-radius: 15px 15px 0 0;
    background-color: @primeColor;
    color: white;
  }
}

#info-form {
  padding: 20px 20px 0 20px;
  background-color: white;
}

.info-field {
  margin-bottom: 20px;

  overflow: hidden;

  text-align: center;

  input {
    width: 80%;
    height: 30px;
    padding-left: 10px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid lightgray;

    font-size: @contentFontSize;
    outline: none;
    color: @mainFontColor;

    &:focus {
      border-bottom: 1px solid @primeColor;
    }
  }
}

.info-btn {
  width: 80px;
  height: 20px;
  margin: 30px auto;

  display: block;

  line-height: 20px;
  font-size: @footerFontSize;

  border-radius: 10px;
  color: @primeColor;

  .btn(@primeColor, white, @shadowBlue, @tintBlue, @shadowBlue);
}

.msg-box {
  width: 220px;
  height: 30px;
  padding: 2px 5px;
  border: 1px solid @lightRed;

  display: inline-block;
  position: absolute;
  left: 90%;

  border-radius: 3px;
  text-align: left;
  font-size: @footerFontSize;
  background-color: white;
  color: gray;
}

.btn-hidden,
.msg-hidden {
  display: none;
}
