@import "../../index";

@headerHeight: 50px;
@tableHeadHeight: 40px;
@tableRowHeight: 30px;

#list-header {
  width: 100%;
  height: @headerHeight;

  display: flex;
  align-items: center;
  position: fixed;
  top: 0;

  background-color: @primeColor;
  color: white;

  span {
    margin-left: 20px;
    margin-bottom: 5px;

    align-self: flex-end;

    font-size: @contentFontSize;
  }

  h2 {
    margin: 0 auto;

    font-size: @headerFontSize;
  }
}

#add-link {
  width: 60px;
  height: 30px;
  margin-right: 20px;

  border-radius: 10px;
  line-height: 30px;

  text-align: center;
  text-decoration: none;
  color: @primeColor;
  background-color: white;
  font-size: @headerFontSize;
  font-weight: bolder;

  .btn(@primeColor, white, @shadowBlue, @tintBlue, @shadowBlue);
}

@colSepWidth: 2px;
@colPercents: 22%, 22%, 40%, 16%;

.forWidth(@data, @i: 1) when(@i =< length(@data)) {
  &:nth-child(@{i}) {
    width: extract(@data, @i);
  }
  .forWidth(@data, (@i + 1));
}

#user-list {
  width: 80%;
  min-width: 700px;
  margin: @headerHeight+ @tableHeadHeight auto 0 auto;

  border-collapse: collapse;

  col {
    border-right: @colSepWidth solid white;
    &:nth-child(4) {
      border: none;
    }
    .forWidth(@colPercents);
  }

  thead tr {
    width: calc(~"80% - @{colSepWidth}/2");
    min-width: 700px;

    display: block;
    position: fixed;
    top: @headerHeight;

    font-size: @sideHeaderFontSize;
    color: @primeColor;
    background-color: white;

    th {
      display: inline-block;
      padding: 0;
      height: @tableHeadHeight;
      line-height: @tableHeadHeight;
      text-align: center;

      .forWidth(@colPercents);
    }
  }

  tbody tr {
    font-size: @contentFontSize;
    color: @mainFontColor;

    &:nth-child(odd) {
      background-color: lightgray;
    }
    &:nth-child(even) {
      background-color: white;
    }

    td {
      padding-left: 20px;
      height: @tableRowHeight;
    }
  }
}

#empty-td {
  text-align: center;
  color: gray;
  background-color: white;
}

.op-td {
  padding-left: 0 !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.op-btn {
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10px;
}

@imgUrl: url(./sprites.png);
.edit-btn {
  margin-right: 8%;
  .btn(
    "none",
    @imgUrl -2px -2px,
    @shadowYellow,
    @imgUrl -26px -2px,
    @shadowYellow
  );
}

.delete-btn {
  margin-left: 8%;
  .btn("none", @imgUrl -2px -26px, @shadowRed, @imgUrl -26px -26px, @shadowRed);
}
