@import "../../index";

@headerHeight: 50px;
@tableHeadHeight: 40px;
@tableRowHeight: 30px;


#list-header{
  width: 100%;
  height: @headerHeight;

  display: flex;
  align-items: center;
  position: fixed;
  top: 0;

  background-color: @primeColor;
  color: white;

  span{
    margin-left: 20px;
    margin-bottom: 5px;

    align-self: flex-end;

    font-size: @contentFontSize;
  }

  h2{
    margin: 0 auto;

    font-size: @headerFontSize;
  }
}


#add-link{
  width: 60px;
  height: 30px;
  margin-right: 20px;

  border-radius: 10px;
  line-height: 30px;

  text-align: center;
  text-decoration: none;
  color: @primeColor;
  background-color: white;
  font-size: @headerFontSize;
  font-weight: bolder;

  .btn(@primeColor, white, @shadowBlue, @tintBlue, @shadowBlue)
}


#user-list{
  width: 80%;
  margin: @headerHeight+@tableHeadHeight auto 0 auto;
  table-layout: fixed;

  thead tr{
    width: 80%;

    display: flex;
    justify-content: space-around;
    position: fixed;
    top: @headerHeight;

    font-size: @sideHeaderFontSize;
    color: @primeColor;
    background-color: white;

    th{
      height: @tableHeadHeight;
      line-height: @tableHeadHeight;
    }
  }

  tbody tr{
    font-size: @contentFontSize;
    color: @mainFontColor;

    &:nth-child(odd){
      background-color: lightgray;
    }
    &:nth-child(even){
      background-color: white;
    }

    td{
      padding-left: 20px;
      height: @tableRowHeight;
    }
  }
}


.op-td{
  padding-left: 0 !important;

  display: flex;
  justify-content: center;
  align-items: center;
}

.op-btn{
  width: 20px;
  height: 20px;
  color: white;
  border-radius: 10px;
}

@imgUrl: url(./sprites.png);
.edit-btn{
  margin-right: 8%;
  .btn(
    'none',
    @imgUrl -2px -2px,
    @shadowYellow,
    @imgUrl -26px -2px,
    @shadowYellow
  )
}
.delete-btn{
  margin-left: 8%;
  .btn(
    'none',
    @imgUrl -2px -26px,
    @shadowRed,
    @imgUrl -26px -26px,
    @shadowRed
  )
}




